:root{
    --cor_de_fundo:  rgb(80, 28, 129) (255,0,136);
    --cor_de_fundo2: rgb(158, 47, 47);(225,143,43)
}


body{
    background-color:var (--cor_de_fundo);
}

.teste{
    background-color:(225,143,43);
}