:root{
    --cor_de_fundo: rgb(158, 17, 139);
    --cor_de_fundo2:  rgb(80, 42, 82);
    }
    
    
    body{
    background-color:var(--cor_de_fundo);
    }
    
    .teste{
        background-color:var(--cor_de_fundo2);
    }